language: node_js
if: (type = push AND branch = master) OR type = pull_request
script:
  - npm test
  - 'if [ "$RANDOM_ORG_API_KEY" != "" ]; then npm run test:integration; else echo "RANDOM_ORG_API_KEY not set, skipping integration tests"; fi'
node_js:
  - "node"
  - "lts/*"
  - "14"
  - "12"
